<div class="flex flex-column">
  <span class="test-lg mb-4"></span>

  <mat-form-field>
    <mat-label> Usuario </mat-label>
    <input type="text" matInput placeholder="Nombnre de usuario" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Nombre </mat-label>
    <input type="text" matInput placeholder="Nombnre de usuario" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Password </mat-label>
    <input type="password" matInput placeholder="password" />
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Crear cuenta
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
  </div>
</div>
