<h1>
  {{ CurrentHero.id ? "Editar" : "Agregar" }}
  <small *ngIf="CurrentHero.id">{{ CurrentHero.superhero }} </small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card class="">
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm-col-6">
            <mat-label>Super heroes</mat-label>
            <input
              type="text"
              matInput
              type="text"
              required
              formControlName="superhero"
            />
          </mat-form-field>
          <mat-form-field class="col-12 sm-col-6">
            <mat-label>Alter ego</mat-label>
            <input
              type="text"
              matInput
              type="text"
              required
              formControlName="alter_ego"
            />
          </mat-form-field>
          <mat-form-field class="col-12 sm-col-6">
            <mat-label>Primera aparcicion</mat-label>
            <input
              type="text"
              matInput
              type="text"
              required
              formControlName="first_appearance"
            />
          </mat-form-field>
          <mat-form-field class="col-12 sm-col-6">
            <mat-label>Personaje</mat-label>
            <input
              type="text"
              matInput
              type="text"
              required
              formControlName="characters"
            />
          </mat-form-field>
          <mat-form-field class="col-12 sm-col-6">
            <mat-label>Creador</mat-label>
            <mat-select formControlName="publisher" required="">
              <mat-option
                *ngFor="let publisher of published"
                [value]="publisher.id"
              >
                {{ publisher.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12 sm-col-6">
            <mat-label>Imagen altenativa</mat-label>
            <input
              type="text"
              matInput
              type="text"
              formControlName="alt_image"
            />
          </mat-form-field>
        </form>
        <div class="flex justify-content-between">
          <button (click)="onDeleteHero()" *ngIf="CurrentHero.id" mat-flat-button color="warn">
            Borrar
          </button>
          <span></span>
          <button (click)="onSubmit()" mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
            guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="col-12 sm:col-6" matCardImage>
    <img [src]="CurrentHero | appHeroImage" alt="imagen de heroe" />
  </mat-card>
</div>

<pre>
  {{ CurrentHero | json }}
</pre>
